<a href="https://colab.research.google.com/github/prachimethi/Datastructure-assignment/blob/main/Advanced_data_structure_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ques-1 Write a code to reverse a string?

In [ ]:
code = "pwskills"
code[::-1]

'sllikswp'

Ques-2 Write a code to count the number of vowels in a string?

In [ ]:
s = input("enter string")
count=0
for i in s:
  if i.lower() in "aieou":
    count+=1
print("number of vowels", count)

enter string aeroplane
number of vowels 5

Ques-3 Write a code to to check if a given string is a palindrome or not?

In [ ]:
string = "prachi"
if string == string[::-1]:
  print("string is a palindrome")
else:
  print("string is not a palindrome")

string is not a palindrome

In [ ]:
string = "eye"
if string == string[::-1]:
  print("string is a palindrome")
else:
  print("string is not a palindrome")

string is a palindrome

Ques-4 Write a code to check if two given strings are anagrams of each other ?

In [ ]:
s1 = "listen"
s2 = "silent"
if sorted(s1) == sorted(s2) :
  print("s1 and s2 are anagrams of each other")
else:
  print("s1 and s2 are not anagrams")

s1 and s2 are anagrams of each other

Ques-5 Write a code to find all occurence of a given substring within another string?

In [ ]:
string = "hello world"
print(string.find("e"))

1

In [ ]:
print(string.find("w"))

6

Ques-six  Write a code to perform basic string comprehension using the count of repeated characters?

In [ ]:
text = input("text")
ch =  input("character")
count = 0
for i in text:
  if i == ch:
    count+=1
if count >= 1:
  print("count(text)")
else:
  print("not found")

textchrome
charactera
not found

In [ ]:
str1 = "hello"
str1.count("l")

2

Ques-7 Write a code to determine if a string has all unique characters?

In [ ]:
st = "abcd"
x=list(set(st))
y=list(st)
x.sort()
y.sort()
if(x==y):
	print(True)
else:
	print(False)

True

Ques-8 Write a code to convert a given string to uppercase or lowercase?

In [ ]:
a = "pwskills"
a.upper()

'PWSKILLS'

In [ ]:
a.lower()

'pwskills'

Ques-9 Write a code to count number of words in a string?

In [ ]:
string= "pwskills"
len(string)

8

Ques-10 Write a code to concatenate two strings without using + operator?

In [ ]:
s1 = "pw"
s2 = "skills"
if s1 != s2:
  print(s1 + s2)
else:
  print("not equal")

pwskills

Ques-11 write a code to remove all occurence of a specific element in a list?

In [ ]:
lis = [ "pw", "skills", "pw", "prachi", "sita"]
lis.remove("pw")
lis

['skills', 'pw', 'prachi', 'sita']

Ques-12 implement a code to find second largest number in a given list of integers?

In [ ]:
l1 = [10, 20, 40, 0, 100]
l1.sort()
print("second largest element:" , l1[-2])

second largest element: 40

Ques- 13 Create a code to count the occurence of each element in a list and return a dictionary with elements as keys and their counts as values?

In [ ]:
i = ['apple','red','apple','red','red','pear']
d = {x:i.count(x) for x in i}
print(d)

{'apple': 2, 'red': 3, 'pear': 1}

Ques-14 Write a code to reverse a list in-place without using built in reverse function?

In [ ]:
list1 = ["apple", "grapes", "guava", "pine"]
list1[::-1]

['pine', 'guava', 'grapes', 'apple']

Ques-15 Implement a code to find and removes duplicates from a list while preserving the original order of elements?

In [ ]:
list1 = [1 ,2 , 3, 4, 1, 2, 4, 5, 3, 8, 9]
for i in list1:
  if list1.count(i) >1:
    list1.remove(i)

In [ ]:
list1

[4, 1, 2, 4, 5, 3, 8, 9]

Ques-16 Create a list to check if a given list is sorted(either asecending or descending order)or not

In [ ]:

l = [ "algo", "data", "cat", "iter"]
sorted(l)

['algo', 'cat', 'data', 'iter']

In [ ]:
sorted(l[::-1])

['algo', 'cat', 'data', 'iter']

In [ ]:
numbers = [1, 3, 4, 2]
numbers.sort(reverse=True)
print(numbers)

[4, 3, 2, 1]

Ques-17 Write a code to merge two sorted list in single sorted list?

In [ ]:
l = [ "apple", "guava","pear"]
l1 = ["grapes", "banana"]
lis = [sorted(l + l1)]
lis

[['apple', 'banana', 'grapes', 'guava', 'pear']]

Ques-18 Implement a code to find the intersection of two given lists?

In [ ]:
lis1 = [ 1, 2, 4, 8 , 100, 132, 90]
lis2 = [1, 4 , 100, 0, 70, 80, 90]
set(lis1).intersection(lis2)

{1, 4, 90, 100}

Ques-19 Create a code to find the union of two lists without duplicates?

In [ ]:
lis = ["apple", "banana", "date","orange"]
lst = ["guava", "apple", "orange","pear"]
set(lis).union(lst)

{'apple', 'banana', 'date', 'guava', 'orange', 'pear'}

Ques-20 Write a code to shuffle a given list randomly without using any built in shuffle function?

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = []
run = True
while run:
   a =list1.pop()
   a =list2.append(a)
   if len(list1)==0:
    run = False
print(list2)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Ques-21 Write a code that take two tuples as input and return a new tuple containing elements that are both common to both input tuples?

In [ ]:
t= (1,2,3,4,5,100)
t1 = (2,4,5,8,39,778)
set(t).union(t1)

{1, 2, 3, 4, 5, 8, 39, 100, 778}

Ques-22 Create a code that prompts the user to enter two sets of integers separated by commas. then, print the intersection of these two sets?

In [ ]:
s = {1,2,3,4,}
s1= {4,9,8,7,3,2}
s | s1

{1, 2, 3, 4, 7, 8, 9}

Ques-23 Write a code to concatenate two tuples. the function should take two tuples as input and returns a new tuple containing element from both input tuples?

In [ ]:
t = input("enter tuple")
t1 = input("enter tuple2")
t2 = (t + t1)
print(t2)

enter tuple(1,2)
enter tuple2(3 , 4)
(1,2)(3 , 4)

Ques-24 Develop a code that prompts the user to input two sets of strings. then, print the element that are present in the first set but not in the second set?

In [ ]:
a = input()
b = input()
setA = set(a)
setB = set(b)
print(setA - setB)

"data" , "algo"
"data" , "key"
{'g', 'o', 'l'}

Ques-25 Create a code that take a tuple and two integers as input. the function should return a new tuple containing element from the original tuple within the specified range of indecies?

In [ ]:
t = input("enter")
t2 = (t)
t2

enter1, 2 , 3, 4

'1, 2 , 3, 4'

Ques-26 Write a code that prompts the user to input two set of character , then print the union of two sets?

In [ ]:
set1 = {1,2,3,4}
set2 = {3,4,5,7}
print(set1.union(set2))

{1, 2, 3, 4, 5, 7}

Ques-27 Develop a code that takes a tuple of integers as input. the function should return the maximum and minimum values from the tuple using tuple unpacking?

In [ ]:
t = input()
for x in t:
  if x==t:
    print(max(t), min(t))

1, 2, 0

Ques-28 Create a code that defines two sets of integers then, print the union , intersection and difference of these two?

In [ ]:
#union>> combines elements from two set excluding duplicates
set1 = { 1, 2 , 3, 4, 5}
set2 = {7, 8 , 9 }
set3 = set1 | set2
set3

{1, 2, 3, 4, 5, 7, 8, 9}

In [ ]:
# intersection >> prints only common elements
set1 = {1 , 2, 3, 4, 5 ,7 ,8 , 9}
set2 = {2, 4, 8, 10}
s = set1 & set2
s

{2, 4, 8}

Ques-29 Write a code that takes a tuple and element as input. the function should return the count of occurence of given element in the tuple.

In [ ]:
t1 = input("enter element")
print(t1.count("a"))

enter element"a" , "b" , "c" , "a" , "b" , "a"
3

Ques-30 Develop a code that prompts the user to input two sets of strings. then, print the symmetric difference of these two?

In [ ]:
def symmetricdiff(str1, str2):
  set1 = set(str1)
  set2 = set(str2)
  symdif = set1^(set2)
  return (symdif)
str1 = input("enter")
str2 = input("enter")
symmetricdiff(str1 , str2)

enter"data" , "sci" , "per"
enter"sci" , "data" , "percent"

{'n'}

Ques-31 Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list?

In [ ]:
def word_frequencies(word_list):
    frequency_dict = {}
    for word in word_list:
        if word in frequency_dict:
            frequency_dict[word] += 1
        else:
            frequency_dict[word] = 1
    return frequency_dict
words = ["apple", "banana", "apple", "orange", "banana", "apple"]
frequencies = word_frequencies(words)
print(frequencies)

{'apple': 3, 'banana': 2, 'orange': 1}

Ques - 32 Write a code that takes two dictonaries as input and merge them into a single dictonary. if there are common keys values should be added together?

In [ ]:

def merge_dictionaries(dict1, dict2):
    merged_dict = dict1.copy()

    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value
        else:
            merged_dict[key] = value
    return merged_dict
dict_a = {'a': 1, 'b': 2, 'c': 3}
dict_b = {'b': 3, 'c': 4, 'd': 5}

merged = merge_dictionaries(dict_a, dict_b)
print(merged)

{'a': 1, 'b': 5, 'c': 7, 'd': 5}

Ques-33 Write a code to access a value in nested dictonary. the function should take the dictionary and a list of keys as input and return the corresponding value. if any of the key do not exist in the dictonary. the function should return none?

In [1]:
def get_nested_value(nested_dict, keys):
    current = nested_dict
    for key in keys:
        if isinstance(current, dict) and key in current:
            current = current[key]
        else:
            return None
    return current

# Example usage:
nested_dict = {
    'a': {
        'b': {
            'c': 42
        }
    }
}

keys = ['a', 'b', 'c']
print(get_nested_value(nested_dict, keys))

42
None

In [2]:
keys_invalid = ['a', 'b', 'd']
print(get_nested_value(nested_dict, keys_invalid))

None

Ques-34 Write a code that takes dictionary as input and return a sorted version of its based on values. you can choose whether to sort in ascending or descending order?

In [10]:
def sort_dict_by_value(input_dict, descending=False):
    return dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=descending))

# Example usage:
my_dict = {'apple': 3, 'banana': 1, 'cherry': 2}

sorted_asc = sort_dict_by_value(my_dict)
print("Sorted in ascending order:", sorted_asc)

sorted_desc = sort_dict_by_value(my_dict, descending=True)
print("Sorted in descending order:", sorted_desc)

Sorted in ascending order: {'banana': 1, 'cherry': 2, 'apple': 3}
Sorted in descending order: {'apple': 3, 'cherry': 2, 'banana': 1}

Ques-35 Write a code that inverts a dictionary , swapping keys and value. ensure that the inverted dictionary correctly handle cases where multiple keys have same value by storing the keys as a list in the inverted dictionary?

In [11]:
def invert_dict(input_dict):
    inverted_dict = {}

    for key, value in input_dict.items():
        if value in inverted_dict:
            inverted_dict[value].append(key)
        else:
            inverted_dict[value] = [key]

    return inverted_dict

# Example usage:
my_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3}

inverted = invert_dict(my_dict)
print("Inverted dictionary:", inverted)

Inverted dictionary: {1: ['a', 'c'], 2: ['b'], 3: ['d']}