question5 describe the key features of sets and provide example of their use

In [1]:
# Key features of sets :

In [7]:
#add method >> add elements to the set, but it is not cumpulsory that it will add in the last of set
set = { 1 , 2, 3, 4, 5 }
set.add(28)
set

{1, 2, 3, 4, 5, 28}

In [8]:
# pop method >> removes the element from the set but it is not cumpulsory toremove element from the last
set = { 1, 2, 3, 4, 5}
set.pop()

1

In [10]:
#remove method >> removes the specific element that we select
set = { 1, 2, 3, 4, 5}
set.remove(3)
set

{1, 2, 4, 5}

In [12]:
#update method >> it takes the element in the form of iterable
set = { 1, 2, 3, 4, 5}
set.update("peas")
set

{1, 2, 3, 4, 5, 'a', 'e', 'p', 's'}

In [14]:
#if we want the full element together
set.update(["pear"])
set

{1, 2, 3, 4, 5, 'a', 'e', 'p', 'pear', 's'}

In [16]:
#clear method >> clears all the element from the set
set = { 1, 2, 3, 4, 5}
set.clear()
set

set()

In [17]:
#set operation

In [19]:
#union>> combine all the elements from two sets excluding duplicates
activity1 = { "hikinng", "coding" , "jumping"}
activity2 = { "travel" , "coding" }
activity1 | activity2

{'coding', 'hikinng', 'jumping', 'travel'}

In [20]:
#intersection >> execute only common elements
activity1 = { "hikinng", "coding" , "jumping"}
activity2 = { "travel" , "coding" }
activity1 & activity2

{'coding'}

In [21]:
#difference >> returns the element that present in first set and not in second set
activity1 = { "hikinng", "coding" , "jumping"}
activity2 = { "travel" , "coding" }
activity1 - activity2

{'hikinng', 'jumping'}

In [22]:
#symmetric difference >> returns only the value that are not common in both first and second set
activity1 = { "hikinng", "coding" , "jumping"}
activity2 = { "travel" , "coding" }
activity1^activity2

{'hikinng', 'jumping', 'travel'}

In [23]:
#frozen sets>> it is a imutable version of sets, cannot be added or remove new element
frozenset = frozenset([1, 2, 3, 4])
type(frozenset)

frozenset